.root {
    -fx-component-background-dark: #4dc2ff;
     radiobutton-checkbox-color:#039ED3;
    -fx-tab-text-color :#414141;
}

.pane{
    -fx-background-image: url("/image/pic.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
}

.label{
	 -fx-font-size: 14px;
	 -fx-font-family: "Roboto";
	 -fx-font-weight: normal;
	 -fx-text-fill: white;
}

.button{
    -fx-background-color: #0E7072;
    -fx-text-fill:white;
    -fx-min-width: 100px;
    -fx-min-height: 30px;
}

.text-field:disabled {
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-opacity: 0.7;
    /*-fx-font-weight:bold;*/
    /*-fx-text-fill:GREEN;*/
}

.text-field {
	-fx-font-family: "Roboto";
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-text-fill: -fx-tab-text-color;
   -fx-border-color: GRAY; 
   -fx-background-color: white, white, white, white;
   -fx-border-radius: 0, 0, 0, 0;
    -fx-height: 20.0;
}

.text-field:focused {
	/* -fx-border-color: Gray; */
	-fx-background-insets: -1.4, 0, 1, 2;
	
}

/* tab pane  */
.tab-pane {
	-fx-background-insets: 0.5, 0 0 2 0;
	-fx-focus-color : transparent;
 	-fx-faint-focus-color :transparent;
}
.tab-pane .tab{
  -fx-padding: 0 15 0 15;
}
.tab-pane .tab:selected {
	-fx-background-color: -fx-tab-text-color, white;
	-fx-border-color: transparent;
	-fx-background-insets: 0, 0 0 0 0;
	-fx-border-insets: 0, 0, 0, 0;
	
}
.tab-pane .tab:selected .tab-label{
	-fx-text-fill: -fx-tab-text-color;
	 -fx-font-weight: Bold;
}
.tab:top {
	-fx-background-color: transparent;
	-fx-padding: 0.0 0.0 0.0 0;
}
.tab .tab-label {
	-fx-alignment: CENTER;
	 -fx-font-size: 14px;
	 -fx-font-family: "Roboto";
	 -fx-font-weight: normal;
	-fx-text-fill: white;
}
.tab-pane *.tab-header-background {
	-fx-padding: 0.0 0.0 0.0 10;
	-fx-background-color: transparent;
	-fx-border-color: lightgrey;
	-fx-border-width: 0 0 1 0;
}
.tab-pane .tab-header-area {
	-fx-padding: 0 0 0 0;
}

/*radio-button*/
.radio-button{
	 -fx-font-size: 14px;
	 -fx-font-family: "Roboto";
	 -fx-font-style: normal;
	 -fx-text-fill: white;
}
.radio-button .radio {
    -fx-border-color: GRAY;
    -fx-background-color: #f8f8f8;
    -fx-border-radius: 8px;
    -fx-padding: 3px;
}

.radio-button .dot {
  -fx-mark-color: -fx-tab-text-color ;
  -fx-padding: 4px;
}