.root {
    -fx-container-background: #ffffff;
    -fx-background-color: #ffffff;
    -fx-component-background: #b3e5ff;
    -fx-component-border-dark: #4dc2ff;
    -fx-component-background-dark: #4dc2ff;
    -fx-text: #000d1a;
    -fx-label-background: #ffffff;
    -fx-radio-combo-border: #0075b3;
    -fx-component-hover-gradient: linear-gradient(-fx-component-background, -fx-component-background-dark);
    -fx-radio-combo-hover-background: linear-gradient(#cceeff, #e5f6ff);
    -fx-component-hover-background: #cceeff;
    -fx-small-button-background: #00324d;
     radiobutton-checkbox-color:#039ED3;
    -fx-tab-text-color :#005daa;
    -fx-focus-color : transparent;
 	-fx-faint-focus-color :transparent;
}

.section-content-background{
	-fx-background-color:#f8f8f8;
}
.white-color-space{
	-fx-background-color: #ffffff;
}

.header-label{
	 -fx-background-color:#e0e0e0;
	 -fx-font-size: 14px;
	 -fx-font-family: "Roboto";
	 -fx-font-weight: bold;
	 -fx-text-fill: #414141;
}

.content-label{
	 -fx-font-size: 14px;
	 -fx-font-family: "Roboto";
	 -fx-font-style: normal;
	 -fx-text-fill: #414141;
}
.label-round-border {
    -fx-background-color: #ffffff;
    -fx-border-radius: 5px;
    -fx-border-color: GRAY;
    -fx-font-size: 12px;
    -fx-font-style: normal;
    -fx-font-weight: bold;
}

.rounded-border {
    -fx-background-color: #ffffff;
    -fx-border-radius: 10px;
    -fx-border-color: BLACK;
}

.italic-label {
    -fx-font-size: 12px;
    -fx-font-style: italic;
    -fx-font-weight: normal;
}

.bold-label {
    -fx-font-size: 12px;
    -fx-font-style: normal;
    -fx-font-weight: bold;
}

.text-field:disabled {
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-opacity: 0.7;
    /*-fx-font-weight:bold;*/
    /*-fx-text-fill:GREEN;*/
}

.text-field {
	-fx-font-family: "Roboto";
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-text-fill: #414141;
   -fx-border-color: GRAY; 
   -fx-background-color: white, white, white, white;
   -fx-border-radius: 0, 0, 0, 0;
    -fx-height: 20.0;
}

.text-field:focused {
	/* -fx-border-color: Gray; */
	-fx-background-insets: -1.4, 0, 1, 2;
	
}

.button {
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-background-color: #555555;
    -fx-border-width: 0.3px;
    -fx-background-insets: 0, 1, 2;
    /*-fx-background-radius: 3, 2, 1;*/

}

.button:disabled {
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-background-color: BLACK;
    -fx-border-width: 0.3px;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 1;
}

.bottom-border-black {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: BLACK;
}

.bottom-border-gray {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: lightgray;
}

.all-borders-black {
    -fx-border-width: 1 1 1 1;
    -fx-border-color: BLACK;
}

.separator-black {
    -fx-border-color: transparent transparent transparent transparent;
    -fx-background: BLACK;
}

.padding {
    -fx-padding: 10 0 0 5;
}

.autofill-text {
    -fx-skin: "com.tfs.lpg.lhc.psms.client.util.customfx.AutoCompleteTextFieldSkin";
}

#stageLeftPane {
    /*-fx-background-image: url("/fxml/images/left.png");*/
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
}

#searchBoxPane {
    -fx-border-radius: 5px;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
}

.envVbox {
    -fx-border-radius: 5px;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-vgap: 20px;

}

.reportOptionsVbox {

    /*-fx-border-color: red ;
    -fx-border-bottom: .2px;
    -fx-vgap: 20px;
      */
}

.button {
    -fx-border-radius: 4px;
    -fx-border-color: #000000;
}

.hboxClass {
    -fx-padding: 0px 15px 0 15px;

}

.radio-buttonCss {
    -fx-padding: 0 0 5 0;
}

.reportOptions {
    -fx-min-width: 200px;
    -fx-min-height: 33px;

}

.padding-combobox {
    -fx-border-color: WHITE;
    -fx-border-width: 5 5 5 5;
}
.combo-box{
	-fx-font-family: "Roboto";
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-text-fill: #414141;
	 -fx-height: 20.0;
}
.combo-box-base {
    -fx-background-color: white, white, white, white;
    -fx-border-color: Gray;
    -fx-background-radius: 4, 4, 4, 4;
}

.combo-box-base:focused {
	-fx-border-color: #039ED3;
	-fx-background-insets: -1.4, 0, 1, 2;
	-fx-font-family: "Roboto";
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-text-fill: #414141;
}

.combo-box-base:disabled {
    -fx-opacity: 0.7;
     -fx-font-family: "Roboto";
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-text-fill: #414141;
}

.check-box{
	 -fx-font-size: 14px;
	 -fx-font-family: "Roboto";
	 -fx-font-style: normal;
	 -fx-text-fill: #414141;
}
.check-box .box {
    -fx-border-width: 1px;
    -fx-background-color: #f8f8f8;
    -fx-border-color: Gray;
    -fx-padding: 1px;
}

.check-box .mark {
    -fx-mark-color: radiobutton-checkbox-color;
    -fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";
}

.combo-box-base > .arrow-button {
    -fx-background-color: white;
    -fx-region-border: none;
}

.combo-box-base > .text-field {
    -fx-region-border: none;
}

.radio-button{
	 -fx-font-size: 14px;
	 -fx-font-family: "Roboto";
	 -fx-font-style: normal;
	 -fx-text-fill: #414141;
}
.radio-button .radio {
    -fx-border-color: GRAY;
    -fx-background-color: #f8f8f8;
    -fx-border-radius: 8px;
    -fx-padding: 3px;
}

.radio-button .dot {
  -fx-mark-color: radiobutton-checkbox-color ;
  -fx-padding: 4px;
}

.replacedItemGrid {
    -fx-padding: 5px;
}

.commentsGrid {
    -fx-hgap: 15px;
    -fx-padding: 5px;
}

.mainMenuBtn {
    -fx-min-width: 290;
    -fx-min-width: 35;
}

/* Login menu styles */

#loginPane .title .label {
    -fx-underline: true;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

#loginPane .subtitle {
    -fx-min-height: 50.0;
}

#loginPane .subtitle .label {
    -fx-font-size: 16;
}

#loginPane .userInput {
    -fx-min-height: 45.0;
    -fx-pref-width: 300.0
}

#loginPane .buttonHolder {
    -fx-pref-width: 300.0;
}

#loginPane .buttonHolder .button {
    -fx-min-height: 45.0;
    -fx-pref-width: 150.0;
    -fx-font-weight: bold;
}

#loginPane #errorHolder .label {
    -fx-text-fill: red;
}

/* Navigation styles */
.branding-holder {
    -fx-border-color: red;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 8 0 8 8;
}

.tool-bar,
.menu-bar, .menu, .menu-item {
  -fx-pref-height: 40.0;
}

.branding-holder .branding-logo {

}
.greeting-holder,
.right-padded {
	-fx-padding: 0 10 0 0;
}

.label.greeting-block {
    -fx-pref-height: 50.0;
    -fx-font-size: 12pt;

}

.calibrationStep1{
    -fx-background-image: url("/fxml/images/step1_active.png");
   -fx-background-repeat: no-repeat;
    -fx-background-size:100%;
    -fx-background-position: center;
    -fx-text-fill: #ffffff;
}
.calibrationStep1_done{
    -fx-background-image: url("/fxml/images/step1_done.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
    -fx-background-position: 100%;
    -fx-text-fill: #ffffff;
}
.calibrationStep2{
    -fx-background-image: url("/fxml/images/step2_deactive.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
    -fx-background-position: center;
    -fx-text-fill: #414141;
}
.calibrationStep2_done{
    -fx-background-image: url("/fxml/images/step2_done.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
    -fx-background-position: center;
    -fx-text-fill: #ffffff;


}
.calibrationStep3{
    -fx-background-image: url("/fxml/images/step3_deactive.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
    -fx-background-position: center;
    -fx-text-fill: #414141;

}
.calibrationStep3_done{
    -fx-background-image: url("/fxml/images/step3_done.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-text-fill: #414141;
}
.calibrationStep2_selected{
    -fx-background-image: url("/fxml/images/step2_active.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
    -fx-background-position: center;
    -fx-text-fill: #ffffff;
}
.calibrationStep3_selected{
    -fx-background-image: url("/fxml/images/step3_active.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
    -fx-background-position: center;
    -fx-text-fill: #ffffff;
}
.calibrationStep{
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
    -fx-background-position: center;
    -fx-text-fill: #414141;
}
.section_header{
    -fx-background-color:#e0e0e0;
}
.primary_button{
    -fx-background-color: #005daa;
    -fx-min-width: 100px;
    -fx-min-height: 26px;
}
.secondary_button{
    -fx-background-color: #414141;
    -fx-min-width: 100px;
    -fx-min-height: 26px;
}
.selected_label{
    -fx-text-fill:#ffffff;
}
.deactive_label{
    -fx-text-fill:#000000;
}
.scroll-pane:selected{
    -fx-border-color: transparent;
}
.scroll-pane{
    -fx-border-style: none;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}
.volumeLabel_active{
    -fx-text-fill: #2277af;

}
.volumeLabel_inactive{
    -fx-text-fill :#414141;
}
.activeVolume {
    -fx-border-color: transparent transparent #005daa transparent;

}
.inActiveVolume{
    -fx-border-color: transparent transparent #eaeaea transparent;
    fx-boder-width: 5px;
}
.scroll-pane{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
     -fx-border-style: none;
    -fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.chart-bar {
    -fx-background-color: rgba(0,168,355,0.05);
    -fx-border-color: rgba(0,168,355,0.3) rgba(0,168,355,0.3)
    transparent rgba(0,168,355,0.3);
    -fx-background-radius: 0;
    -fx-background-position: left center;
}
.series0.chart-bar {
    -fx-background-color: greenyellow;
}
.series1.chart-bar {
    -fx-background-color: red;
}
.redBar.chart-bar{
    -fx-background-color: red;
}
.manualFieldDescription{
    -fx-font-size: 11;
    -fx-font-weight: bold;
    -fx-font-scale: inherit;
    -fx-font-fill:#000000 ;

}
.section_manual_feed{
    -fx-background-color: #f8f8f8;
}
.reading_hbox{
    -fx-background-color: #f8f8f8;
}
.green_Box{
    -fx-background-color: #34bc5a;

}
.white_label{
    -fx-text-fill: white;
}
.graph_label{
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-label-padding: 15px;

}
.averageValue{
    -fx-font-size: 18;
}
.dialog-pane > .button-bar > .container .cancel {
    -fx-alignment: baseline-center;

}
.details-button {
    -fx-alignment: baseline-center;

}
.okButton-center {
    -fx-alignment: baseline-center;

}
.disbale .combo-box-base:disabled{
    -fx-text-fill: red;
}
BarcodeTextField {
	-fx-background-image: url("/fxml/images/barcode_scanner-512.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position:  right;
	-fx-background-size : contain;
}
mulit_Reading_hbox{
    -fx-border-color:  #A9A9A9;
}

.spinner-button{
	-fx-background-color : white;
	-fx-background-radius: 10em;
	-fx-min-width: 18px;
	-fx-min-height: 18px;
	-fx-max-width: 18px; 
	-fx-max-height: 18px;
	-fx-focus-color : transparent;
 	-fx-faint-focus-color :transparent;
 	-fx-border-width : 0 0 0 0;
}
/* tab pane  */
.tab-pane {
	-fx-background-color: white;
	-fx-background-insets: 0.5, 0 0 2 0;
}
.tab-pane .tab{
  -fx-padding: 0 15 0 15;
}
.tab-pane .tab:selected {
	-fx-background-color: -fx-tab-text-color, white;
	-fx-border-color: transparent;
	-fx-background-insets: 0.5, 0 0 3 0;
	-fx-border-insets: 0, 0, 0, 0;
	
}
.tab-pane .tab:selected .tab-label{
	-fx-text-fill: -fx-tab-text-color;
}
.tab:top {
	-fx-background-color: transparent;
	-fx-padding: 0.0 0.0 0.0 0;
}
.tab .tab-label {
	-fx-alignment: CENTER;
	 -fx-font-size: 12px;
	 -fx-font-family: "Roboto";
	 -fx-font-weight: normal;
	 -fx-text-fill: #414141;
}
.tab-pane *.tab-header-background {
	-fx-padding: 0.0 0.0 0.0 10;
	-fx-background-color: white;
	-fx-border-color: lightgrey;
	-fx-border-width: 0 0 1 0;
}
.tab-pane .tab-header-area {
	-fx-padding: 0 0 0 15;
}
.manufacturingIcon{
    -fx-background-image: url("/fxml/images/manufacturing.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.servicingIcon{
    -fx-background-image: url("/fxml/images/manufacturing.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.inspectionIcon{
    -fx-background-image: url("/fxml/images/inspection.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.typeTestingIcon{
    -fx-background-image: url("/fxml/images/inspection.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.environmentIcon{
    -fx-background-image: url("/fxml/images/environment.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 50%;
}
.comPortIcon{
    -fx-background-image: url("/fxml/images/comportsetting.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.barCodeIcon{
    -fx-background-image: url("/fxml/images/labelprint.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.boxIcon{
    -fx-background-image: url("/fxml/images/cartonlabel.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 70%;
}
.servicReportIcon{
    -fx-background-image: url("/fxml/images/report.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 80%;

}
.searchReportIcon{
    -fx-background-image: url("/fxml/images/searchReport.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 80%;

}
.accreditedIcon{
    -fx-background-image: url("/fxml/images/accredited.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 60%;
}

.report-button{
	-fx-background-color : transparent;
	-fx-background-radius: 10em;
	-fx-min-width: 18px;
	-fx-min-height: 18px;
	-fx-max-width: 18px; 
	-fx-max-height: 18px;
	-fx-focus-color : transparent;
 	-fx-faint-focus-color :transparent;
 	-fx-border-width : 0 0 0 0;
}
/* table view  */

.table-view {
	-fx-background-color: #f8f8f8;
	-fx-table-cell-border-color: transparent;
	-fx-border-color: transparent;
	-fx-focus-color: transparent;
	-fx-border-width: 0;
	-fx-faint-focus-color: transparent;
}

.table-view .column-header-background {
	-fx-background-color: #f8f8f8;
}

.table-view .column-header, .table-view .filler {
	-fx-size: 30;
	-fx-table-cell-border-color: transparent;
	-fx-table-header-border-color: transparent;
	-fx-border-width: 0 0 1 0;
	-fx-background-color: #f8f8f8;
	-fx-border-color: #e0e0e0;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-border-insets: 0;
}

.table-view .column-header .label {
	-fx-font-size: 10pt;
	-fx-font-family: "Roboto";
	-fx-text-fill: #414141;
	-fx-alignment: center-left;
	-fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected  {
	-fx-background-color: #fffbec;
	-fx-table-cell-border-color: transparent;
	-fx-border-width: 1 0 1 0;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-border-insets: 0;
}
.table-row-cell:selected .text {
       -fx-fill: black ;

}
.table-view .table-row-cell {
	-fx-background-color : #f8f8f8;
	-fx-table-cell-border-color: transparent;
	-fx-border-color: #e0e0e0;
	-fx-border-width: 1 0 1 0 ;
	-fx-text-fill: Black;
	-fx-background-color: #f8f8f8;
	-fx-font-size: 10pt;
} 
.table-view .table-row-cell.label{
	-fx-font-size: 15px;
}
.table-view.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.text-area {
	-fx-font-family: "Roboto";
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-text-fill: #414141;
  -fx-border-color: GRAY; 
   -fx-background-color: white;
   -fx-border-radius: 0, 0, 0, 0;
    -fx-opacity: 1;
}

.text-area:focussed {
	/* -fx-border-color: Gray; */
	-fx-background-insets: -1.4, 0, 1, 2;
}